
@import url(./header.css);
@import url(./section-carreira.css);
@import url(./section-informaçao.css);
@import url(./section-desenvolvedor.css);
@import url(./section-cursos.css);
@import url(./section-etapas.css);
@import url(./section-emprego-garantido.css);
@import url(./section-profissao.css);
@import url(./section-duvidas.css);
@import url(./section-professor.css);
@import url(./section-curriculo.css);
@import url(./section-partes-cursos.css);
@import url(bonus.css);
@import url(gratis.css);
@import url(./alunos.css);
@import url(./section-mudando-carreira.css);
@import url(./section-estudos.css);
@import url(./section-matricula.css);
@import url(./section-perguntas-frequentes.css);
@import url(./section-footer.css);


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,300;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,600&family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,300;1,400;1,900&family=Rubik:ital,wght@0,300;0,500;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
}